name : toto
on : [push]
jobs:
  MonPremierJob :
    runs-on : ubuntu-latest
    steps:
     - name : Recup du repository
        uses : actions/checkout@v3
    - name : Afficher le contenu de mon job
        run: ls
  Build :
    needs : [MonPremierJob]
    runs-on : ubuntu-latest
    steps:
      - name : build de lapp
        run : echo "je builkd"
        
